<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="xml" class="com.example.lab2.model.entities.pojo.EntityXML"/>
    <bean id="json" class="com.example.lab2.model.entities.pojo.EntityJSON"/>
    <bean id="writer" class="com.example.lab2.controller.Writer"/>
    <bean id="async" class="com.example.lab2.model.pullers.AsyncRunner"/>
</beans>